{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор</h1>
<h2>Меня зовут Каролина</h2>
<p>Мне 22 года (30 июня мне 23 исполняется), так что может быть уже 23, смотря когда вы это читаете</p>
<p>Я очень рада,что я попала в мир программирования. Мне хоть и сложно, но очень интересно</p>
<p>Иногда мне помогает с учебой кот Кисель, но он не захотел фотографироваться на фоне монитора</p>
<p>Поэтому просто вставлю Киселя, за одно и потренируюсь вставлять картинки</p>
<img src="{% static 'img/kisel.png' %}" width="200" height="200">
<p>Я верю, что у меня получится все освоить и я стану классным разработчиком!!</p>
{% endblock %} 