{% extends 'base.html' %}
{% block title %}Посты подписок{% endblock %}
{% block content %}
{% load static %}
  <div class="container py-5">     
    <h1>Посты ваших подписок</h1>
    <article>
      {% include 'posts/includes/switcher.html' %}
      {% for post in page_obj %}
      {% include 'posts/includes/type.html' %}  
        <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация</a>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
      {% include 'posts/includes/paginator.html' %}
    </article>
  </div> 
{% endblock %}