{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
<div class="container py-5">        
  <h1> Все посты пользователя {{ author.get_full_name }} </h1>
  <h3> Всего постов: {{ post|length }} </h3>
  {% if request.user.is_authenticated and request.user != author %}
    {% if following.exists %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
    {% endif %}  
  {% endif %}  
  <article>
    {% for post in page_obj %}
    {% include 'posts/includes/type.html' %}    
    <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация</a>    
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>        
    <hr>
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
      {% include 'posts/includes/paginator.html' %}
  </article>   
</div>
{% endblock %}